#container {
    height: 200px;
    width: 400px;
    background-color: red;
    border: 2px solid green;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    border-color: blue;
}

.box {
    height: 100px;
    width: 100px;
    background-color: grey;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    border-color: red;
}