*{
    font-family:'Courier New', Courier, monospace;
}
h3 {
    color:purple
}
h1{
    color: #b92b27;
}
#login {
    background-color: white;
}
#signup {
    background-color: #b92b27;
    color: white;
}
.upvote {
    background-color:green;
    color: aliceblue;
}
#myid p{
    color:green ;
}
/* descendant selector */
.post p a {
    color:purple;
    background-color:yellow;
}
nav ul li a {
    color:hotpink;
}
p + h3 {
    text-decoration: underline;
}
.upvote+button{
    background-color:cornflowerblue;
    color:darkblue;
}
div>input {
    background-color:darksalmon;
}
input[type= "text"] {
    background-color:green;
}
input[type="password"] {
    background-color:red;
}
input[type]  {
    background-color:ghostwhite;
}

button:hover {
    background-color:black;
    color:white;
}
button:active {
    background-color: red;
    color:black;
}
p:active {
    font-weight:bold;
    color:green;
}
input[type="radio"]:checked +label {
    color:red;
    font-weight:bold;
}
.post.post.post.post:nth-of-type(n) {
    background-color:blanchedalmond
}
h2 {
    background-color:yellow
}
h3 {
    background-color:blue;
}